<%- include("../partials/header") %>

<h1> This is the show template</h1>

<p><%= recipe.name %></p>

<img src="<%= recipe.image %>" alt="">

<p><%= recipe.description %></p>

<p>
    <a class="btn btn-info" href="/recipes/<%= recipe._id %>/comments/new">Add New Comment</a>
</p>

<% recipe.comments.forEach((comment) => { %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>


<%- include("../partials/footer") %>
