<%- include("../partials/header") %>

<h1> This is the show template</h1>

<p><%= recipe.name %></p>

<img src="<%= recipe.image %>" alt="">

<p><%= recipe.description %></p>

<p>1.<%= recipe.step1 %></p>
<p>2.<%= recipe.step2 %></p>
<p>3.<%= recipe.step3 %></p>
<p>4.<%= recipe.step4 %></p>
<p>5.<%= recipe.step5 %></p>

<p>
    <a class="btn btn-info" href="/recipes/<%= recipe._id %>/comments/new">Add New Comment</a>
</p>

<% recipe.comments.forEach((comment) => { %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>


<%- include("../partials/footer") %>
